<strong>Olá {{ student }}</strong>
<p>Sua matrícula no Gympoint foi realizada com sucesso.</p>
<p>O plano escolhido foi o <strong>{{ plan }}.</strong></p>
<p>Sua inscrição vale de <strong>{{ start_date }}</strong> até <strong>{{ end_date }}.</strong></p>
<p>O preço total é de <strong>R$ {{ price }}</strong>.</p>
<p>Toda nossa equipe está muito feliz com sua entrada para o nosso ginásio. Seja muito bem vindo!!</p>
